.jumbotron{
    background-color:transparent; !important;
    font-family: 'Play', sans-serif;
}

h1 {
	font-size: 700%;
	font-family: 'Play', sans-serif;
	/* font-family: titlefont; */
}

@font-face {
    font-family: titlefont;
    src: url(gtek.ttf);
    font-weight: bold;
}